$iconsFontFamily: 'iconsFont' !default;
$iconsFontPath: '../assets/fonts' !default;

$iconPinterest: '\e900';
$iconTelegram: '\e901';
$iconVkontakte: '\e902';
$iconWhatsapp: '\e903';
$iconYoutube: '\e904';