.banner {
    background-color: rgb(255, 255, 255, 0.5);
    background-image: url(../../assets/images/header.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    transform: scaleX(-1);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        transition: 0.3s;
        background-blend-mode: hard-light;
    }
}

.title {
    transform: scaleX(-1);
    font-size: 100px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    position: relative;
    display: inline-block;
    &::before, &::after {
        content: "";
        position: absolute;
        top: -15%;
        left: -5%;
        display: block;
        width: 100px;
        height: 100px;
        background-image:
            radial-gradient(rgb(255, 255, 255), rgba(255,255,255,0) 30%),
            linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
            linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
        -webkit-animation: flash 5s linear infinite;
        animation: flash 5s linear infinite;
        transform: scale(0, 0) rotate(0deg);
    }
    &::before {
        top: auto;
        right: -2.5%;
        left: auto;
        bottom: -35%;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
    }
}

@-webkit-keyframes flash {
    10% { transform: scale(1, 1) rotate(80deg); }
    20% { transform: scale(0, 0) rotate(160deg); }
    100% { transform: scale(0, 0) rotate(0deg); }
}
@keyframes flash {
    10% { transform: scale(1, 1) rotate(80deg); }
    20% { transform: scale(0, 0) rotate(160deg); }
    100% { transform: scale(0, 0) rotate(0deg); }
}