.footer {
    background-color: rgb(255, 255, 255, 0.2);
    background-image: url(../../assets/images/footer.jpg);
    height: 270px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    row-gap: 15px;

}

.socials {
    margin-top: 60px;
    display: flex;
    gap: 20px;
}

.social {
    // width: 40px;
    // height: 40px;
    // border-radius: 50%;
    // border: 1px solid #8C8C8C;
    font-size: 38px;
    color : #8C8C8C;
    &:hover {
        color : #597ef7;
    }
}