

.filters {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
}

.fieldsSelect {
    width: 180px;
}

.form {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}
